html,
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Helvetica;
}

ul {
    list-style-type: square;
    padding: 0;
}
li {
    font-size: 18px;
    line-height: 2;
}

#main-div {
    width: auto;
    height: 100vh;
    padding: 50px;
}